.verticalClass .navbar {
  float: left;
  border: 0;
  border-radius: 0;
  margin-right: 25px;
  width: 200px;
  transition: all 0.5s ease-in-out;
}

.verticalClass .navbar .container-fluid {
  padding: 0;
  margin: 0;
}

.verticalClass .navbar .container-fluid .navbar-collapse {
  padding: 0;
  margin: 0;
}

.verticalClass .navbar .container-fluid .navbar-brand {
  margin: 0 !important;
}

.verticalClass .navbar .container-fluid .collapse {
  display: block;
}

.verticalClass .navbar .container-fluid .navbar-nav {
  width: 100%;
  margin: 0;
}

.verticalClass .navbar .container-fluid .navbar-nav li {
  width: 100%;
}

.verticalClass .navbar .container-fluid .navbar-nav li a {
  padding: 15px 57px 15px 15px;
  line-height: 20px;
}

.verticalClass .navbar .container-fluid .navbar-nav li a span {
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -11px;
  font-size: 22px;
}

.verticalClass .navbar .navbar-header {
  width: 100%;
  margin: 0;
}

.verticalClass .navbar .navbar-header .navbar-toggle {
  display: block;
  margin-right: 8px;
  border-radius: 0;
}

.verticalClass.nav-open .navbar {
  margin-left: -142px;
}

.verticalClass .tab-content {
  float: left;
  width: calc(100% - 225px);
}
