.template-01 {
  .navbar {
    border-radius: 0;
    .container-fluid {
      padding: 0;
      margin: 0;
      .navbar-collapse {
        padding: 0;
        margin: 0;
      }
      .navbar-nav {
        width: 100%;
        margin: 0;
        li {
          width: 100%;
          a {
            padding: 15px;
          }
        }
      }
    }
  }
  .dw-pnl {
    margin: 0;
  }

  .dw-clstr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
  }

  .dw-clstr__sgmnt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0;
  }

  .dw-clstr__sgmnt--clmn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .dw-pnl__cntnt {
    overflow: hidden;
    width: 100%;
  }
  .dw-clstr__sgmnt--rw {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .bd--white {
    border: 1px solid red;
  }

  .tx--white {
    color: #000;
  }

  @media (max-width: 767px) {
    .dw-clstr__sgmnt--rw {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }

  @media (min-width: 768px) {
    .dw-pnl {
      -webkit-column-break-inside: avoid;
      break-inside: avoid;
    }
  }

  @media (max-width: 767px) {
    .dw-clstr--vrt {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }
}
