@import "variables-theme-red";

.registration-vert-nav-flex {
  .flex-panel--nav {
    background: $brand-dark-base;
    .flex-panel--content {
      img {
        max-width: 150px;
        height: auto;
      }
    }
    .navbar-default {
      padding: 20px;
      border-radius: 0;
      background-color: transparent;
      border: 0;
      border-color: transparent;
      .navbar-header {
        width: 100%;
      }
      .container-fluid {
        padding: 0;
        margin: 0;
        .navbar-brand {
          float: right;
          height: auto;
          padding: 0;
        }
        .navbar-collapse {
          padding: 0;
          margin: 0;
        }
        .navbar-nav {
          width: 100%;
          margin: 30px 0 0 0;
          li {
            width: 100%;
            a {
              padding: 10px 5px;
              color: $brand-light-base;
              text-transform: uppercase;
              float: right;
            }
            &.active {
              a {
                color: $brand-primary;
                background-color: transparent;
              }
            }
            &:last-child {
              margin-top: 10px;
            }
            .btn-primary {
              border-radius: 0;
              border: 1px solid $brand-light-base;
              background-color: transparent;
              padding: 7px 20px;
              &:hover,
              &:active,
              &:focus {
                border-color: $brand-primary;
                background-color: $brand-primary;
              }
            }
          }
        }
      }
    }
  }
  .flex-panel--side {
    .nav-tabs {
      padding: 50px;
      border-bottom: none;
      > li {
        float: none;
        > a {
          border-radius: 0;
          text-align: center;
          border: 2px solid #fff;
          color: #fff;
          .schedule-day {
            display: block;
            font-size: 40px;
          }
        }
        &.active {
          a {
            color: $brand-primary;
          }
        }
      }
    }
  }
  .flex-panel {
    margin: 0;
  }

  .flex-panel--jumbotron {
    position: relative;
    .flex-panel--date {
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 10px;
      background-color: $brand-primary;
      color: $brand-light-base;
    }
  }

  .flex-panel--main {
    .flex-panel--bgimage {
      background-size: cover;
    }
    .flex-panel--content {
      padding: 50px;
    }
    .main-item {
      border-bottom: 2px solid silver;
      padding: 20px 0;
      &:last-child {
        border-bottom: none;
      }
    }
  }

  .flex-panel--side {
    .flex-panel--content {
      background-color: $brand-primary;
      .side-item {
        text-align: center;
        padding: 10px;
        color: $brand-light-base;
        span[class*="fa"] {
          font-size: 40px;
          padding-bottom: 10px;
        }
      }
    }
  }

  .flex-panel--content {
    overflow: hidden;
    width: 100%;
  }

  .flex-cluster {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
  }

  .flex-cluster-segment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0;
  }

  .flex-cluster-segment--col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .flex-cluster-segment--row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .bd-red {
    border: 1px solid $brand-primary;
  }

  .btn-primary {
    border-radius: 0;
    border: 1px solid $brand-dark-base;
    background-color: transparent;
    padding: 12px 35px;
    color: $brand-dark-base;
    text-transform: uppercase;
    &:hover,
    &:active,
    &:focus {
      color: $brand-light-base;
      border-color: $brand-primary;
      background-color: $brand-primary;
    }
  }

  @media (max-width: 767px) {
    .flex-cluster-segment--row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }

  @media (min-width: 768px) {
    .flex-panel {
      -webkit-column-break-inside: avoid;
      break-inside: avoid;
    }
  }

  @media (max-width: 767px) {
    .flex-cluster--vert {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }
}
