html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 20px;
  min-height: 100%;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.row.is-flex {
  display: flex;
  flex-wrap: wrap;
}

.row.is-flex > [class*="col-"] {
  display: flex;
  flex-direction: column;
}

/*
* And with max cross-browser enabled.
* Nobody should ever write this by hand.
* Use a preprocesser with autoprefixing.
*/
.row.is-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row.is-flex > [class*="col-"] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.verticalClass .navbar {
  border: 0;
  border-radius: 0;
  width: 200px;
  transition: all 0.5s ease-in-out;
  float: left;
  margin-bottom: 0;
}

.verticalClass .navbar .container-fluid {
  padding: 0;
  margin: 0;
}

.verticalClass .navbar .container-fluid .navbar-collapse {
  padding: 0;
  margin: 0;
}

.verticalClass .navbar .container-fluid .navbar-brand {
  margin: 0 !important;
}

.verticalClass .navbar .container-fluid .collapse {
  display: block;
}

.verticalClass .navbar .container-fluid .navbar-nav {
  width: 100%;
  margin: 0;
  height: 100vh;
  overflow-y: auto;
}

.verticalClass .navbar .container-fluid .navbar-nav li {
  width: 100%;
}

.verticalClass .navbar .container-fluid .navbar-nav li a {
  padding: 15px 57px 15px 15px;
  line-height: 20px;
}

.verticalClass .navbar .container-fluid .navbar-nav li a span {
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -11px;
  font-size: 22px;
}

.verticalClass .navbar .navbar-header {
  width: 100%;
  margin: 0;
}

.verticalClass .navbar .navbar-header .navbar-toggle {
  border-radius: 0;
  border: 0;
  position: absolute;
  top: 0;
  left: 210px;
}

.verticalClass.nav-closed .tab-content {
  margin-left: 0;
}

.verticalClass .tab-content {
  max-width: 794px;
  float: left;
}

.verticalClass .tab-content .is-table-row {
  display: table;
}

.verticalClass .tab-content .is-table-row [class*="col-"] {
  float: none;
  display: table-cell;
  vertical-align: top;
}

.verticalClass .tab-content .tab-pane .container-max-width {
  max-width: 1024px;
  margin: 0 auto;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f8f8f8;
  text-align: center;
}

@media all and (min-width: 1024px) {
  .verticalClass .navbar-toggle {
    display: none;
  }
}
